<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAREAS</title>
</head>
<body>
    <H1>TAREAS</H1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores optio saepe odio nihil earum voluptatum aut, consequatur, quia nemo quas aperiam et ab cumque tenetur dignissimos tempora voluptatibus possimus sed vitae amet velit facilis similique officia. Modi suscipit quia natus voluptatum! Vitae eos at quis alias omnis, hic odit architecto vel saepe eveniet ducimus maxime, consectetur sequi dignissimos vero similique officia ipsam repellendus? Sit illum facere laboriosam temporibus! Quis minima a similique facere temporibus accusantium? Veritatis culpa sunt hic debitis enim a aliquid quos ullam omnis quibusdam odio ut saepe, voluptates vel iure. Deserunt fugiat libero odio deleniti explicabo voluptas?.</p>
</body>
</html>
{% endblock %}